.input-wrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  height: 32px;
  padding: 6px 12px;
  border: 1px solid #00000030;
  outline: none;
  border-radius: 20px;
  font-size: 1.1rem;
}

.input-text {
  border-radius: 0;
  font-size: 0.9rem;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  color: gray;
  pointer-events: none;
}
