.checkbox-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.checkbox {
  opacity: 0;
  margin: 0;
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: rgb(35, 120, 194);
}
